<!DOCTYPE html>
<html ng-app="mashableApp">
<head>
	<title>Mashable Comments</title>

 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="views/styles/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
</head>

<body ng-controller="CommentListCtrl">



<div class="container">
<div class = "page-header"> 
   <h1>
      Mashable Youtube Comments 
   </h1>
   <p ng-show="loadingComments"> Refreshed {{count}} comments {{duration.duration}}</p>
   <p ng-hide="loadingComments"> Loading comments. Please wait! ...</p>
   <p><a href="/logout">Logout</a></p>

   
</div>


    <form role="form" ng-show="loadingComments">
        <div class="row">
        <div class="col-sm-3">
         </div>
         <div class="col-sm-6">
            <div class="form-group">
            <label> Search for Comments </label>
                <input type="text" class="form-control input-lg" ng-model="comment.comment">
            </div>
            </div>
        </div>

    </form>



<div class="row" ng-repeat="comment in comments | filter : comment.comment  track by $index ">

<div class="col-sm-3">
</div>
<div class="col-sm-1">
<div class="thumbnail">

<img class="img-responsive user-photo" src="{{comment.author_profile_image}}">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">

<strong>{{comment.author_username}}</strong> <span class="text-muted">commented <span am-time-ago="comment.created_at"></span>  </span>
</div>
<div class="panel-body">
{{comment.comment}}

</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->


</div><!-- /row -->



</div><!-- /container -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js"></script>
<script type="text/javascript" src="views/scripts/main.js"></script>
</body>
</html>